<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">
<head>
  <meta charset="utf-8"/>
  <title>Ajouter une partie</title>
</head>
<body id="page-top">
<section layout:fragment="content">
<!-- Begin Page Content -->

  <div class="row justify-content-center">

    <div class="col-md-6">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->

          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Ajouter une partie</h1>
            </div>

            <div th:hidden="${competitions} ? false : true">
            <form class="user" method="get" th:action="@{/fr/admin/formGame}">
              <div class="form-group form-inline">
                <label class="col-form-label col-3" for="idCompet">Compétition</label>
                <select name="idCompet" id="idCompet" class="custom-select">
                  <option th:each="c:${competitions}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary btn-user btn-block">Sélectionner cette compétition</button>
            </form>
          </div>


            <div th:hidden="${competition?.id} ? false : true">
            <form class="user" method="post" th:action="@{/fr/admin/addGame}" >

              <input type="hidden" name="competition" th:value="${competition?.id}"/>

              <div class="form-group form-inline">
                <label class="col-form-label col-3" for="num">Numéro</label>
                <input class="form-control col-9"  type="text" id="num" name="num">
                <div class="col-3"></div><div class="text-danger col-9" ></div>
              </div>
              <div class="form-group form-inline">
                <label class="col-form-label col-3" for="name">Nom</label>
                <input class="form-control col-9"  type="text" id="name" name="name">
                <div class="col-3"></div><div class="text-danger col-9" ></div>
              </div>
              <button type="submit" class="btn btn-primary btn-user btn-block" >Ajouter cette partie</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Page Content -->
</section>
</body>
</html>
