<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">
<head>
  <meta charset="utf-8"/>
  <title>Ajouter un golf</title>
</head>
<body id="page-top">
<section layout:fragment="content">
<!-- Begin Page Content -->

  <div class="row justify-content-center">

    <div class="col-md-6">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->

          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Ajouter un golf</h1>
            </div>
            <form class="user" method="post" th:action="@{/fr/admin/editGolf}" >

              <input type="hidden" name="id" th:value="${golf?.id}"/>

              <div class="form-group form-inline">
                <label class="col-form-label col-3" for="name">Nom</label>
                <input class="form-control col-9" th:value="${golf?.name}" type="text" id="name" name="name" placeholder="Golf Bluegreen">
                <div class="col-3"></div><div class="text-danger col-9" ></div>
              </div>
              <div class="form-group form-inline">
                <label class="col-form-label col-3" for="address">Adresse</label>
                <input class="form-control col-9" th:value="${golf?.address}" type="text" id="address" name="address" placeholder="25 Boulevard Marcel Pourtout">
                <div class="col-3"></div><div class="text-danger col-9"></div>
              </div>
              <div class="form-group form-inline">
                <label class="col-form-label col-3" for="zipCode">Code Postale</label>
                <input class="form-control col-9" th:value="${golf?.zipCode}" type="text" id="zipCode" name="zipCode" placeholder="92500">
                <div class="col-3"></div><div class="text-danger col-9" ></div>
              </div>
              <div class="form-group form-inline">
                <label class="col-form-label col-3" for="city">Ville</label>
                <input class="form-control col-9" th:value="${golf?.city}" type="text" id="city" name="city" placeholder="Rueil-Malmaison">
                <div class="col-3"></div><div class="text-danger col-9" ></div>
              </div>
              <div class="form-group form-inline">
                <label class="col-form-label col-3" for="country">Pays</label>
                <input class="form-control col-9" th:value="${golf?.country}" type="text" id="country" name="country" placeholder="France">
                <div class="col-3"></div><div class="text-danger col-9" ></div>
              </div>
              <button type="submit" class="btn btn-primary btn-user btn-block" >Ajouter ce golf</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Page Content -->
</section>
</body>
</html>
