<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">
<head>
    <meta charset="utf-8"/>
    <title>Ajouter un interval</title>
</head>
<body id="page-top">
<section layout:fragment="content">
    <!-- Begin Page Content -->

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->

                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Ajouter un interval</h1>
                        </div>

                        <div th:hidden="${golfs} ? false : true">
                            <form class="user" method="get" th:action="@{/fr/admin/formTimeBtHoles}">
                                <div class="form-group form-inline">
                                    <label class="col-form-label col-3" for="golf">Golfs</label>
                                    <select name="idGolf" id="golf" class="custom-select">
                                        <option th:each="g:${golfs}" th:value="${g.id}" th:text="${g.name}"></option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">Sélectionner ce golf</button>
                            </form>
                        </div>

                        <div th:hidden="${golf?.id} ? false : true">
                            <form class="user" method="post" th:action="@{/fr/admin/addTimeBtHoles}">

                            <!--<input type="hidden" name="id" th:value="${timeBtHoles?.id}"/>-->

                                <div class="form-group form-inline">
                                    <label class="col-form-label col-3" for="hole1">Trou 1</label>
                                    <select name="hole1" id="hole1" class="custom-select">
                                        <option th:each="h:${golf?.holes}" th:value="${h.id}" th:text="|${h.num} - ${h.name}|"></option>
                                    </select>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-form-label col-3" for="hole2">Trou 2</label>
                                    <select name="hole2" id="hole2" class="custom-select">
                                        <option th:each="h:${golf?.holes}" th:value="${h.id}" th:text="|${h.num} - ${h.name}|"></option>
                                    </select>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-form-label col-3" for="description">Description</label>
                                    <input class="form-control col-9" th:value="${timeBtHoles?.description}" type="text"
                                           id="description" name="description" placeholder="Temps entre les trous 1 et 2">
                                    <div class="col-3"></div><div class="text-danger col-9"></div>
                                </div>
                              <div class="form-group form-inline">
                                <label class="col-form-label col-3" for="walkTime">Temps</label>
                                <input class="form-control col-9" th:value="${timeBtHoles?.walkTime}" type="text"
                                       id="walkTime" name="walkTime" placeholder="3">
                                <div class="col-3"></div><div class="text-danger col-9"></div>
                              </div>

                                <button type="submit" class="btn btn-primary btn-user btn-block">Ajouter un interval</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Page Content -->
</section>
</body>
</html>
