<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">
<head>
  <meta charset="utf-8"/>
  <title th:utext="#{playTime.add.h1}"></title>
</head>
<body id="page-top">
<section layout:fragment="content">
<!-- Begin Page Content -->

  <div class="row justify-content-center">

    <div class="col-md-6">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->

          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4" th:utext="#{playTime.add.h1}"></h1>
            </div>

              <div th:hidden="${competitions} ? false : true">
              <form class="user" method="get" th:action="@{/fr/admin/addTime}">
              <div class="form-group form-inline" >
                <label class="col-form-label col-3" for="idCompet" th:utext="#{label.competitions}"></label>
                <select name="idCompet" id="idCompet" class="custom-select">
                  <option th:each="c:${competitions}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary btn-user btn-block" th:utext="#{label.select}"></button>
              </form>
              </div>

              <div th:hidden="${competition?.id} ? false : true">
                <form class="user" method="post" th:action="@{/fr/admin/addTime}">

              <div class="form-group form-inline">
                <label class="col-form-label col-3" for="time" th:utext="#{label.time}"></label>
                <input class="form-control col-9" type="time" id="time" name="time" placeholder="07:30">
                <div class="col-3"></div><div class="text-danger col-9"></div>
              </div>
                  <div class="form-group form-inline" >
                    <label class="col-form-label col-3" for="hole" th:utext="#{hole.span.heading}"></label>
                    <select name="hole" id="hole" class="custom-select">
                      <option th:each="h:${course?.holes}" th:value="${h.id}" th:text="${h.name}"><span> 1</span></option>
                    </select>
                  </div>
                  <div class="form-group form-inline" >
                    <label class="col-form-label col-3" for="game" th:utext="#{hole.span.heading}"><span> 2</span></label>
                    <select name="game" id="game" class="custom-select">
                      <option th:each="g:${competition?.games}" th:value="${g.id}" th:text="${g.name}"></option>
                    </select>
                  </div>
              <button type="submit" class="btn btn-primary btn-user btn-block" th:utext="#{label.add}"></button>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Page Content -->
</section>
</body>
</html>
