<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">
<head>
  <meta charset="utf-8"/>
  <title th:utext="#{hole.link.delete}"></title>
</head>
<body id="page-top">
<section layout:fragment="content">
<!-- Begin Page Content -->

  <div class="row justify-content-center" th:with="locale=#{lang.locale}">

    <div class="col-md-6">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->

          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4 " th:utext="#{hole.link.delete}"></h1>
            </div>

              <div th:hidden="${golfs} ? false : true">
              <form class="user" method="get" th:action="@{'/'+${locale}+'/admin/deleteHole'}">
              <div class="form-group form-inline" >
                <label class="col-form-label col-3" for="listProduct" th:utext="#{label.clubs}"></label>
                <select name="idGolf" id="listProduct" class="custom-select">
                  <option th:each="g:${golfs}" th:value="${g.id}" th:text="${g.name}"></option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary btn-user btn-block" th:utext="#{label.select}"></button>
                <h6 class="text-gray-400 text-center mt-1" th:utext="#{hole.delete.h6}"></h6>
              </form>
              </div>

              <div th:hidden="${holes} ? false : true">
                <form class="user" method="post" th:action="@{/fr/admin/deleteHole}" >
                  <div class="form-group form-inline" >
                    <label class="col-form-label col-3" for="idHole" th:utext="#{hole.span.heading}"></label>
                    <select name="idHole" id="idHole" class="custom-select">
                      <option th:each="h:${holes}" th:value="${h.id}" th:text="${h.name}"></option>
                    </select>
                  </div>
              <button type="submit" class="btn btn-primary btn-user btn-block" th:utext="#{label.delete}"></button>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Page Content -->
</section>
</body>
</html>
