<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{main}">
<head>
  <meta charset="utf-8"/>
  <title th:utext="#{playPace.saveData.title}"></title>
</head>
<body id="page-top">
<section layout:fragment="content">
<!-- Begin Page Content -->
  <div class="w-100 h-100" th:with="locale=#{lang.locale}">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" th:utext="#{competition.h6.subtitle}"></h6>
      </div>
      <div class="card-body">
        <!-- Topbar Search -->
        <form th:action="@{'/'+${locale}+'/user/gameRate/selectCompetition'}" method="get" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group mb-3 ml-0">
            <input type="text" name="mc" class="form-control  small" placeholder="Chercher..." th:value="${mc}"
                   aria-label="Search" aria-describedby="basic-addon2">
            <input type="hidden" name="page" th:value="${currentPage}">
            <input type="hidden" name="size" th:value="${size}">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">
                <span class="mr-2" th:utext="#{label.search}"></span>
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th th:utext="#{label.id}"></th>
              <th th:utext="#{label.name}"></th>
              <th th:utext="#{label.type}"></th>
              <th th:utext="#{label.date}"></th>
              <th th:utext="#{label.select}"></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th th:utext="#{label.id}"></th>
              <th th:utext="#{label.name}"></th>
              <th th:utext="#{label.type}"></th>
              <th th:utext="#{label.date}"></th>
              <th th:utext="#{label.select}"></th>
            </tr>
            </tfoot>
            <tbody>
            <tr th:each="c:${competitions}">
              <td th:text="${c.id}"></td>
              <td th:text="${c.name}"></td>
              <td th:text="${c.type}"></td>
              <td th:text="${c.dateCompetition}"></td>
              <td>
                <a th:href="@{'/'+${locale}+'/user/gameRate/collectData'(idCompet=${c.id})}" class="btn btn-primary" th:utext="#{label.select}"></a>
              </td>
            </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item">
                <a th:href="@{'/'+${locale}+'/user/gameRate/selectCompetition'(page=${currentPage > 0} ? ${currentPage - 1} : ${currentPage} , size=${size}, mc=${mc})}"
                   class="page-link" th:utext="#{label.previous}"></a>
              </li>
              <li class="page-item" th:each="p,status:${pages}">
                <a class="page-link" th:text="${status.index+1}"
                   th:href="@{'/'+${locale}+'/user/gameRate/selectCompetition'(page=${status.index}, size=${size}, mc=${mc})}"></a>
              </li>
              <li class="page-item">
                <a class="page-link" th:href="@{'/'+${locale}+'/user/gameRate/selectCompetition'(page=${currentPage + 1}, size=${size}, mc=${mc})}"
                   th:utext="#{label.next}"></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>
