<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">
<head>
    <meta charset="utf-8"/>
    <title>Cadence de jeu</title>
</head>
<body id="page-top">
<section layout:fragment="content">
    <!-- Begin Page Content -->

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->

                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Étape 2 : Envoyer le fichier Excel</h1>
                        </div>
                        <form class="user" action="/fr/user/generateCompetPdf/upload" method="post" enctype="multipart/form-data">
                            <div class="form-group form-inline">
                                <label class="col-form-label col-3" for="file">Fichier</label>
                                <input class="form-control col-9" type="file" id="file" name="file" required
                                       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                <div class="col-3"></div><div class="text-danger col-9" th:text="${error}"></div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Content -->
</section>
</body>
</html>
