<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{main}">
<head>
  <meta charset="utf-8"/>
  <title>Golfs</title>
</head>
<body id="page-top">
<section layout:fragment="content">
<!-- Begin Page Content -->
        <div class="w-100 h-100">

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Liste des golfs</h6>
            </div>
            <div class="card-body">
              <!-- Topbar Search -->
              <form th:action="@{/fr/user/searchGolf}" method="get" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group mb-3 ml-0">
                  <input type="text" name="mc" class="form-control  small" placeholder="Chercher..." th:value="${mc}"
                         aria-label="Search" aria-describedby="basic-addon2">
                  <input type="hidden" name="page" th:value="${currentPage}">
                  <input type="hidden" name="size" th:value="${size}">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                      <span class="mr-2">Chercher</span>
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Pays</th>

                      <th>Afficher</th>
                      <th>Modifier</th>
                      <th>Supprimer</th>

                  </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Id</th>
                      <th>Nom</th>
                      <th>Adresse</th>
                      <th>Code postal</th>
                      <th>Ville</th>
                      <th>Pays</th>

                        <th>Afficher</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>

                    </tr>
                  </tfoot>
                  <tbody>
                    <tr th:each="g:${golfs}">
                      <td th:text="${g.id}"></td>
                      <td th:text="${g.name}"></td>
                      <td th:text="${g.address}"></td>
                      <td th:text="${g.zipCode}"></td>
                      <td th:text="${g.city}"></td>
                      <td th:text="${g.country}"></td>
                      <td>
                        <a th:href="@{/fr/user/golf/{id}(id=${g.id})}" class="btn btn-primary">Afficher</a>
                      </td>

                        <td>
                          <a th:href="@{/fr/admin/formGolf(idGolf=${g.id})}" class="btn btn-primary">Modifier</a>
                        </td>
                        <td>
                          <form method="post" th:action="@{/fr/admin/deleteGolf(idGolf=${g.id}, page=${currentPage}, size=${size}, mc=${mc})}">
                            <button type="submit" class="btn btn-primary" onclick="window.confirm('Are you sure?')">Supprimer</button>
                          </form>
                        </td>

                    </tr>
                  </tbody>
                </table>
                <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" th:href="@{/fr/user/searchGolf(page=${currentPage > 0} ? ${currentPage - 1} : ${currentPage} , size=${size}, mc=${mc})}">Previous</a>
                  </li>
                  <li class="page-item" th:each="p,status:${pages}" >
                    <a class="page-link" th:text="${status.index+1}"
                       th:href="@{/fr/user/searchGolf(page=${status.index}, size=${size}, mc=${mc})}"></a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" th:href="@{/fr/user/searchGolf(page=${currentPage + 1}, size=${size}, mc=${mc})}">Next</a>
                  </li>
                </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
</section>

</body>
</html>
